.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Meme_Img {

  background-image: url('./imgs/meme.jpg');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #abe71f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form
{
  font-size: 1.5rem;
  color: #f2a154;
  margin: 1em;
  padding: 1rem;
  margin: 3rem;
  border-radius: 20px;
  background-color: #314e52;
  box-shadow: 1px 5px 7px #f7f6e7;
  text-align: center;  
  display: flex;
  flex-direction: column;
}

.back
{
  background-color: #d3e0ea;
  max-height: 100%;
}